.photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 200px;
}

ion-thumbnail{
    --size: 120px;
    --border-radius: 8px;
}